body{
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    background: 
    radial-gradient(       
        rgba(0, 93, 137),
        rgba(0, 93, 137)
    );
}

textarea {
    resize: none;
    padding-left: 10px;
    padding-right: 10px;
}

select{
    font-family: "Roboto";
    font-size: 1.1em;
    color: #fff;
    background-color: #ffa600;
    border-width: 0;
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    letter-spacing: 1px;
    border-radius: 5px;
}

select:focus{
    outline: 0;
}

h1{
    margin-bottom: 20px;
    margin-top: 50px;
    color: #ffa600;
    font-weight: 600;
  }

h3{
    font-size: 15px;
    font-weight: 100;
    color: #fff;
}

h2 {
    margin-top: 25px;
    font-size: 20px;
    font-weight: 300;
    color: #fff;
}

h4 {
    color: #ffa600;
    margin-bottom: 40px;
    margin-left: 20px;
    margin-right: 20px;
}

.form-control
{
    width: 600px;
    background-color: #ffa600;
    outline: none;
    border: 1px solid #ffa600;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    font-family: "Roboto";
}

input
{
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
}

input::placeholder{
    color: rgb(223, 223, 223);
}

form .submit
{
    background-color: #ffa600;
    border: 1.5px solid #ffa600;
    color: #fff;
    font-family: "Roboto";
    font-size: 1.3em;
    letter-spacing: 1px;
    height: 50px;
    width: 40%;
    margin-top: 20px;
    margin-bottom: 30px;
}

form .submit:hover
{
    color: #ffa600;
    background-color: transparent;
    transition: 0.25s;
}

::placeholder {
    color: #ffa600;
    font-family: "Roboto";
}

.forma {
    width: 625px;
    text-align: left;
    margin: auto;
}

.star{
  color: red;
}

/* TOOLTIP */

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #ffa600;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  margin-left: 10px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.container:hover .tooltiptext {
  visibility: visible;
}

/* CHECKBOX */

label{
  font-weight: 100;
}

.container {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 18px;
  color: #fff;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
  
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
}

.container:hover input ~ .checkmark {
  background-color: #ccc;
}

.container input:checked ~ .checkmark {
  background-color: #ffa600;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 6px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

  /* RADIO */
  
  .checkmark2 {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 50%;
  }
  
  .container:hover input ~ .checkmark2 {
    background-color: #ccc;
  }
  
  .container input:checked ~ .checkmark2 {
    background-color: #ffa600;
  }
  
  .checkmark2:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .container input:checked ~ .checkmark2:after {
    display: block;
  }
  
  .container .checkmark2:after {
    top: 6px;
    left: 6px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
  }

@media (max-width: 650px){

.forma{
  width: 300px;
}

h1{
  font-size: 25px;
  margin-top: 20px;
}

h2{
    font-size: 17px;
}

.form-control, input{
  width: 285px;
  font-size: 15px;
  height: 30px;
  padding: 5px;
}

.submit {
  width: 300px;
  font-size: 17px;
  padding: 10px;;
}

h3{
  font-size: 15px;
}

.container{
  font-size: 15px;
}

}