.mediji img{
    max-width:  200px;
    max-height: 200px;
}

.mediji{
    margin-top: 100px;
    margin-bottom: 0px;
    margin-right: 0px;
}

.partneri img{
    max-width:  200px;
    max-height: 200px;
}

.glide img{
    max-width:  200px;
    max-height: 200px;
}
.partneri{
    margin-top: 50px;
    margin-bottom: 0px;
    margin-right: 0px;
    
}
.glide{
    margin-top: 50px;
    margin-bottom: 0px;
    margin-right: 0x;
}
.part h2{
    text-align: center;
    width:20%;
    border-bottom: 2px solid;
    padding-bottom:10px;
    border-color: #1d5d88;
    margin: auto;
}
.part{
   /* margin-left:4%;*/
    padding-top: 50px;
}
@media screen and (max-width:600px) {
    .part img{
        max-width: 100px;
        max-height: 100px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    .part h2 {
        width: 200px;
    }
  }


 
     
    
