.mediji img{
    max-width:  200px;
    max-height: 200px;
}

.mediji{
    margin-top: 100px;
    margin-bottom: 0px;
    margin-right: 0px;
}

.partneri img{
    max-width:  200px;
    max-height: 200px;
}

.glide img{
    max-width:  200px;
    max-height: 200px;
}
.partneri{
    margin-top: 50px;
    margin-bottom: 0px;
    margin-right: 0px;
    
}
.glide{
    margin-top: 50px;
    margin-bottom: 0px;
    margin-right: 0x;
}
.part h2{
    
    text-align: center;
    margin-bottom: 0px;
    font-size: 20px;
    text-transform: uppercase;
    border-bottom: 10px ;
    padding-bottom: 10px;
}
.part{
    padding-left: 4%;
}


 
     
    
