body {
  font-family: "Roboto";

}

.header {
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  /* height: 70px; */
  /* text-shadow: 2px 2px 5px black; */
  /* background-image: linear-gradient(180deg, rgba(197, 174, 43, 0.703),rgba(143, 124, 29, 0.563), transparent); */
}

.header ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  width: 100%;
  justify-content: center;
}

.header img{
  padding-top: 1.3em;
  max-width: 150px;
}

.header ul li {
  margin: 0 1em;
  padding: 1em;
  padding-top: 1.5em;
}

.header ul li a {
  position: relative;
  text-decoration: none;
  font-weight: 100;
  color: white;
}

.header ul li a:hover {
  color: #ffa600;
  transition: 0.2s linear;
}

.header ul li a::after {
  position: absolute;
  bottom: -2px;
  left: 0;
  content: '';
  width: 0;
  height: 1px;
  transition: all 0.2s linear;
}

.header ul li a:hover::after {
  width: 100%;
  background-color: #ffa600;
}

.menu-phone {
  display: none;
}

.navbar {
  margin: 0;
  padding: 0;
}

.navbar-brand {
  float: left;
}

.navbar-brand img {
  padding-left: 10px;
  padding-top: 0.9em;
  max-width: 150px;
}

.menu {
  float: right;
}

.navbar-nav {
  padding-right: 0;
  margin-right: 0;
}

.nav-item {
  padding-left: 10px;
  font-size: 18px;
}
/* color: f99c1c naradzasta*/

.nav-link {
  color: #000;
  padding: 15px;
}

.nav-item a:hover {
  color: #f99c1c;
}

.nav-item-prijava a {
  background-color: #f99c1c;
  color: white;
}

.nav-item-prijava a:hover {
  /* box-shadow: 2px 3px 6px #f99c1c; */
  color: white;
}

.navbar-toggler-icon {
  float: right;
}

.navbar-toggler {
  background-color: #f99c1c;
}

.hero {
  width: 100%;
  height: 100vh;
  background-image: url(../img/s2sCover.jpg);
  background-size: cover;
  background-position: center;
  /* color:white; */
  z-index: 1;
}

/* MENI ZA TELEFON */
input label {
  position: fixed;
  top: 40px;
  bottom: 50px;
  right: 40px;
  height: 20px;
  width: 15px;
  z-index: 99999999;
}

input label span {
  position: absolute;
  width: 100%;
  height: 2px;
  top: 50%;
  margin-top: -1px;
  left: 0;
  display: block;
  background: #f99c1c;
  transition: 0.5s;
}

input label span:first-child {
  top: 3px;
}

input label span:last-child {
  top: 16px;
}

label:hover {
  cursor: pointer;
}
input:checked + label span {
  opacity: 0;
  top: 50%;
}
input:checked + label span:first-child {
  opacity: 1;
  transform: rotate(405deg);
}
input:checked + label span:last-child {
  opacity: 1;
  transform: rotate(-405deg);
}

#projekat {
  padding-top: 100px;
  font-size: 20px;
}

#projekat h3 {
  padding-bottom: 30px;
}

@media only screen and (max-width: 768px) {
  .menu {
    display: none;
  }

  .menu-fonis {
    display: none;
  }

  .menu-phone {
    display: initial;
  }

  .menu-phone .navbar-brand img {
    max-width: 120px;
  }
}
