body {
  font-family: "Roboto";

}

.header {
  position: fixed;
  top: 0;
  z-index: 5;
  display: flex;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  height: 70px;
  text-shadow: 2px 2px 4px #005d89;
  background-image: linear-gradient(180deg, rgba(0,93,137, 1),rgba(0,93,137, 0.9),rgba(0,93,137, 0.6), transparent);
}

.header ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  width: 100%;
  justify-content: center;
}

.header img{
  padding-top: 1.3em;
  max-width: 150px;
}

.header ul li {
  margin: 0 1em;
  padding: 1em;
  padding-top: 1.5em;
}

.header ul li a {
  position: relative;
  text-decoration: none;
  font-weight: 100;
  color: white;
}

.header ul li a:hover {
  color: #ffa600;
  transition: 0.2s linear;
}

.header ul li a::after {
  position: absolute;
  bottom: -2px;
  left: 0;
  content: '';
  width: 0;
  height: 1px;
  transition: all 0.2s linear;
}

.header ul li a:hover::after {
  width: 100%;
  background-color: #ffa600;
}

.menu-phone {
  display: none;
}

.navbar {
  margin: 0;
  padding: 0;
}

.navbar-brand {
  float: left;
}

.navbar-brand img {
  padding-left: 10px;
  padding-top: 0.9em;
  max-width: 150px;
}

.menu {
  float: right;
}

.navbar-nav {
  padding-right: 0;
  margin-right: 0;
}

.nav-item {
  padding-left: 10px;
  font-size: 18px;
}
/* color: f99c1c naradzasta*/

.nav-link {
  color: #000;
  padding: 15px;
}

.nav-item a:hover {
  color: #f99c1c;
}

.nav-item-prijava a {
  background-color: #f99c1c;
  color: white;
}

.nav-item-prijava a:hover {
  /* box-shadow: 2px 3px 6px #f99c1c; */
  color: white;
}

.navbar-toggler-icon {
  float: right;
}

.navbar-toggler {
  background-color: #f99c1c;
}

.hero {
  width: 100%;
  height: 100vh;
  background-image: url(../img/s2sCover.jpg);
  background-size: cover;
  background-position: center;
  /* color:white; */
  z-index: 1;
  text-align: center;
}

.prijava{
  /* margin: auto; */
  /* position: absolute; */
  /* left: 42%; */
  font-size: 1.3em;
  font-weight: 400;
  border-radius:4px;
  padding-left: 15px;
  padding-right: 15px;
  background: transparent;
  color: #ffa600;
	border:1.5px solid #ffa600;
  transform: translate(0,87vh);
}

.prijava:hover{
  color: white;
  background-color: #ffa600;
  transition: 0.25s;
}

/*Radionice*/

/*POCETAK SESTOUGAO IKONICE ZA RADIONICE*/
.radionice_prvi_red {
  margin-top: 10%;
  margin-bottom: 10%;
}

.radionica_ikona {
  height: 50px;
  width: 100px; 
}

.radionica {
  position: absolute;
  top: 51%;
  left: 50%;
  transform: translate(-50%,-50%);
  color:transparent;
  text-decoration: none;
  border: 2px solid transparent;
  text-align: center;
  line-height: 45px;
  transition: .5s;
}

.radionica:before {
  content: '';
  width:  100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 3px solid transparent;
  transform: rotate(0deg);
  transition: .5s;
}

.radionica:after
 {
  content: '';
  width:  100%;
  height: 100%;
  position: absolute;
  top: -2px;
  left: 0px;
  border: 3px solid transparent;
  transform: rotate(0deg);
  transition: .5s;
}

/*KRAJ SESTOUGAO IKONICE ZA RADIONICE*/

/*POCETAK KARTICE ZA RADIONICE*/

.radionice_drugi_red {
  position: relative;
  height: 350px;
  margin: 50px auto;
}

.radionice_drugi_red 
.box {
  position: relative;
  /* background: #f99c1c; */
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 10px;
}

.radionice_drugi_red 
.box,
.radionica_ikona_2 {
  position: relative;
  margin-top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgb(0,93,137)  ;
  transition: 0.5s;
  z-index: 1;

}

.radionice_drugi_red 
.box:hover
.radionica_ikona_2 {
  top: 55px;
  left: 12px;
  height: 30px;
  width: 200px; 
  /* border-radius: 50%; */
}

.radionice_drugi_red 
.box:hover
.radionica{
  border: 3px solid rgb(248,154,28);
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
}

.radionice_drugi_red 
.box:hover
.radionica:before{
  transform: rotate(120deg);
  border: 3px solid rgb(248,154,28);
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
}

.radionice_drugi_red 
.box:hover
.radionica:after{
  transform: rotate(-120deg);
  border: 3px solid rgb(248,154,28);
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
}

.radionice_drugi_red
.box
.tekst {
  position: absolute;
  height: 250px;
  top:100%;
  padding: 10px;
  text-align: center;
  box-sizing: border-box;
  transition: 0.5s;
  opacity: 0;
}

.radionice_drugi_red
.box:hover
.tekst {
  top:130px;
  opacity: 1;
  font-size: 15px;
}
/*KRAJ KARTICE ZA RADIONICE*/


/* MENI ZA TELEFON */
input label {
  position: fixed;
  top: 40px;
  bottom: 50px;
  right: 40px;
  height: 20px;
  width: 15px;
  z-index: 99999999;
}

input label span {
  position: absolute;
  width: 100%;
  height: 2px;
  top: 50%;
  margin-top: -1px;
  left: 0;
  display: block;
  background: #f99c1c;
  transition: 0.5s;
}

input label span:first-child {
  top: 3px;
}

input label span:last-child {
  top: 16px;
}

label:hover {
  cursor: pointer;
}
input:checked + label span {
  opacity: 0;
  top: 50%;
}
input:checked + label span:first-child {
  opacity: 1;
  transform: rotate(405deg);
}
input:checked + label span:last-child {
  opacity: 1;
  transform: rotate(-405deg);
}

#projekat {
  padding-top: 100px;
  font-size: 20px;
}

#projekat h3 {
  padding-bottom: 30px;
}
/********************** A G E N D A *************************/
#agenda {
  background-color: #E8EFF5;
}
.cd-timeline {
}
.cd-timeline h2 {
  padding-top: 15px;
  font-size: 20px;
}
.cd-timeline__content{
  padding: 0;
}
.text-component{
  padding: 0;
  padding-left: 20px;
  color: white;
}
.cd-timeline__img--picture {
  color: white;
}
.orange{
  background-color: #FAA830;
}
.blue {
  background-color: #005D89;
}
.agenda-btn-container div {
  margin-top: 40px;
  padding: 10px 20px 10px 20px;
  display: inline-block;
  cursor: pointer;
}
.subota, .nedelja {
  background-color: white;
}
.display-none {
  display: none;
}
.subota.active-agenda-btn, .nedelja.active-agenda-btn, .subota:hover, .nedelja:hover {
  background-color: #FAA830;
  color: white;
  transition: 0.3s;
}
#raspored {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 40%;
  position: relative;
  margin-left: 50%;
  transform: translateX(-50%);
}

#raspored td, #raspored th {
  border: 1px solid #ddd;
  padding: 8px;
}

#raspored tr:nth-child(even){background-color: #f2f2f2;}

#raspored tr:hover {background-color: #ddd;}

#raspored th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #005D89;
  color: white;
}
.margin-top-agenda {
  margin-top: 100px;
  padding-top: 80px;
}
/*************************************************************/
@media only screen and (max-width: 768px) {
  .menu {
    display: none;
  }

  .menu-fonis {
    display: none;
  }

  .menu-phone {
    display: initial;
  }

  .menu-phone .navbar-brand img {
    max-width: 120px;
  }
}
