html{
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto";
}

.header {
  position: fixed;
  top: 0;
  z-index: 5;
  display: flex;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  height: 70px;
  text-shadow: 2px 2px 4px #005d89;
  background-image: linear-gradient(
    180deg,
    rgba(0, 93, 137, 1),
    rgba(0, 93, 137, 0.9),
    rgba(0, 93, 137, 0.6),
    transparent
  );
}

.header ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  width: 100%;
  justify-content: center;
}

.header img {
  padding-top: 1.3em;
  max-width: 150px;
}

.header ul li {
  margin: 0 1em;
  padding: 1em;
  padding-top: 1.5em;
}

.header ul li a {
  position: relative;
  text-decoration: none;
  font-weight: 100;
  color: white;
}

.header ul li a:hover {
  color: #ffa600;
  transition: 0.2s linear;
}

.header ul li a::after {
  position: absolute;
  bottom: -2px;
  left: 0;
  content: "";
  width: 0;
  height: 1px;
  transition: all 0.2s linear;
}

.header ul li a:hover::after {
  width: 100%;
  background-color: #ffa600;
}

.menu-phone {
  display: none;
}

.navbar {
  margin: 0;
  padding: 0;
}

.navbar-brand {
  float: left;
}

.navbar-brand img {
  padding-left: 10px;
  padding-top: 0.9em;
  max-width: 150px;
}

.menu {
  float: right;
}

.navbar-nav {
  padding-right: 0;
  margin-right: 0;
}

.nav-item {
  padding-left: 10px;
  font-size: 18px;
}
/* color: f99c1c naradzasta*/

.nav-link {
  color: #000;
  padding: 15px;
}

.nav-item a:hover {
  color: #f99c1c;
}

.nav-item-prijava a {
  background-color: #f99c1c;
  color: white;
}

.nav-item-prijava a:hover {
  /* box-shadow: 2px 3px 6px #f99c1c; */
  color: white;
}

.navbar-toggler-icon {
  float: right;
}

.navbar-toggler {
  background-color: #f99c1c;
}

.hero {
  width: 100%;
  height: 100vh;
  background-image: url("../img/s2sCover.jpg");
  background-size: cover;
  background-position: center;
  /* color:white; */
  z-index: 1;
  text-align: center;
}

.prijava {
  /* margin: auto; */
  /* position: absolute; */
  /* left: 42%; */
  font-size: 1.3em;
  font-weight: 400;
  border-radius: 4px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #ffa600;
  color: white;
  border: 1.5px solid #ffa600;
  transform: translate(0, 89vh);
}

.prijava:hover {
  color: #ffa600;
  background: transparent;
  transition: 0.25s;
}

.prijava-btn {
  font-size: 1.3em;
  /* font-weight: 400; */
  border-radius: 4px;
  margin-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
  background: transparent;
  color: #ffa600;
  border: 1.5px solid #ffa600;
  /* transform: translate(0, 87vh); */
}

.prijava-btn:hover {
  color: white;
  background-color: #ffa600;
  transition: 0.25s;
}

/*Pocetak - Radionice*/

#radionice{
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 100%;
  /* background-color: #1b7fad; */
}

/*Pocetak - Sestougao ikonice*/
.sestougao {
  background: transparent;
  padding: 5px;
  margin-top: 0px;
  left: 0px;  
  width: 100%;
  height: 100%;
  transition: 0.5s;
  z-index: 2;
  position: relative;
}

.ikonica{
  background-color: transparent;
}

.okvir {
  position: absolute;
  top: 51%;
  left: 50%;
  transform: translate(-50%,-50%);
  color:transparent;
  text-decoration: none;
  border: 2px solid transparent;
  text-align: center;
  line-height: 45px;
  transition: .5s;
}

.okvir:before {
  content: '';
  width:  100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 3px solid transparent;
  transform: rotate(0deg);
  transition: .5s;
}

.okvir:after
 {
  content: '';
  width:  100%;
  height: 100%;
  position: absolute;
  top: -2px;
  left: 0px;
  border: 3px solid transparent;
  transform: rotate(0deg);
  transition: .5s;
}


/*Kraj - Sestougao ikonice*/

/*Pocetak - Kartice*/
#radionice .col-md-3 {
  min-height: 400px;
  margin-bottom: 30px;	 
}	

.radionice_red{
  position: relative;
  z-index: 0;
  min-height: auto;
  height: 100%;
}

.kartica {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 10px;
  display: flex;
  align-content: center; 
  padding: 5px;
  margin-bottom: 50px;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.5);
  background: rgb(173, 184, 196)  ;
  margin-top: 0px;
  left: 0px;  
  width: 100%;
  height: 100%;
  transition: 0.5s;
  z-index: 2;
}

.kartica
.ikonica {
  top: 55px;
  left: 10%;
  height: 100px;
}

.kartica
.okvir {
  width: 300px;
}

.kartica:hover
.sestougao {
  top: 55px;
  left: 10%;
  height: 50px;
  width: 200px; 
}

.kartica:hover
.ikonica {
  top: 55px;
  left: 10%;
  height: 50px;
  width: 200px; 
}


.kartica:hover
.okvir{
  border: 3px solid white;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  width: 100px;
}

.kartica:hover
.okvir:before{
  transform: rotate(120deg);
  border: 3px solid white;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
}

.kartica:hover
.okvir:after{
  transform: rotate(-120deg);
  border: 3px solid white;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
}

.kartica
.tekst {
  position: absolute;
  height: 250px;
  top:100%;
  padding: 10px;
  text-align: center;
  box-sizing: border-box;
  transition: 0.5s;
  opacity: 0;
}

.kartica:hover
.tekst {
  top:130px;
  opacity: 1;
  font-size: 15px;
  text-align: center;
  padding: 10px;
  color: white;
}

.tekst h3 {
  text-align: center;
  padding: 10px;
  color: white;
}

.vidijos{
  position: relative;
  font-size: 1.1em;
  font-weight: 300;
  border-radius:4px;
  background: transparent;
  color: white;
	border:1.5px solid white;
  top: 20px;
  padding: 5px;
  text-decoration: none;
}
.vidijos:hover{
  color: white;
  text-decoration: none;
  background-color: #b4b3b0;
  transition: 0.25s;
}

/*Kraj - Kartice*/

/*Pocetak - Popup */

@keyframes zum {
  from { transform: scale(0);}
  to { transform: scale(1);}
}

.popup {
  display: none; 
  position: fixed;
  top: 12vh;
  left: 10vw;
  width: 80vw;
  height: 80vh;
  justify-content: center;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  z-index: 1;
  animation-name: zum;
  animation-duration: 0.5s;
}

.popup_levo{
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
  text-align: left;
  font-size: 0.8em;
  color: white;
}

.popup_levo h3{
  color: white;
  text-align: center;
}

.popup_levo p{
  padding-right: 25px;
  padding-left: 10px;
}

.popup_desno {
  border-left: 5px solid white;
  color: white;
  text-align: justify;
  float:left;
  overflow-y: auto;
  height: 75vh;
}

.popup_desno h3 {
  text-align: center;
  color: white
}

.popup_desno h4 {
  text-align: center;
  color: white;
  padding: 10px;
}

.predavaci {
  border-radius: 50%;
  height: 110px;
  width: 110px;
  margin-left: 33%;
  margin-bottom: 10px;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.5);
}

.predavac {
  margin-left: 41%; 
  margin-bottom: 10px;
  border-radius: 50%;
  height: 110px;
  width: 110px;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.5);
}

#popup.show {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.popupphoto {
  width: 20vw;
  height: 35vw;
  left: 0px;
  padding-top: 15px;
  padding-right: 20px;
  /* background:  rgb(60, 175, 228); */
}

.popuptext {
  font-size: 0.8em;
  padding: 20px;
  padding-left: 20x;
}
.close {
  width: 15px;
  height: 15px;
  padding-left: 850px;
}
/*Kraj - Popup */

/* Boje popup i hover za radionice */

#dataScience101 {
  background-color:  #f79257;
  border: 7px solid #f79257; /*Border linija je fiks za scrollbar da ne izlazi van popupa*/
}

.dataScience101:hover {
  background:  #f79257  ;
}

#introToJava {
  background-color:  #eb2b50;
  border: 7px solid #eb2b50; 
}

.introToJava:Hover {
  background:  #eb2b50;
}

#realTimeDataProcessing {
  background-color:  #23395b;
  border: 7px solid #23395b; 
}

.realTimeDataProcessing:Hover {
  background:  #23395b;
}

#introToGraphicDesign {
  background-color:  #4da1a9;
  border: 7px solid #4da1a9; 
}

.introToGraphicDesign:Hover {
  background:  #4da1a9;
}

#webAppWorkshop {
  background-color:  #839439;
  border: 7px solid #839439; 
}

.webAppWorkshop:Hover {
  background:  #839439;
}

#vueIsForYou {
  background-color:  #94374f;
  border: 7px solid #94374f; 
}

.vueIsForYou:Hover {
  background:  #94374f;
}

#sweetGit {
  background-color:  #cc5b28;
  border: 7px solid #cc5b28; 
}

.sweetGit:Hover {
  background:  #cc5b28;
}

#introToDjango {
  background-color:  #bf90c1;
  border: 7px solid #bf90c1; 
}

.introToDjango:Hover {
  background:  #bf90c1;
}

#introToC {
  background-color:  #706e61;
  border: 7px solid #706e61; 
}

.introToC:Hover {
  background:  #706e61;
}

#krozBazuDoJave {
  background-color:  #915c83;
  border: 7px solid #915c83; 
}

.krozBazuDoJave:Hover {
  background:  #915c83;
}

/* Scroll popup radionice - dizajn */

.popup_desno::-webkit-scrollbar {
  width: 0.5em;
}

.popup_desno::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.popup_desno::-webkit-scrollbar-thumb {
background-color: rgba(243, 239, 231, 0.568);
outline: 1px solid rgb(230, 188, 125);
}

/*Kraj - Radionice*/

/* MENI ZA TELEFON */
input label {
  position: fixed;
  top: 40px;
  bottom: 50px;
  right: 40px;
  height: 20px;
  width: 15px;
  z-index: 99999999;
}

input label span {
  position: absolute;
  width: 100%;
  height: 2px;
  top: 50%;
  margin-top: -1px;
  left: 0;
  display: block;
  background: #f99c1c;
  transition: 0.5s;
}

input label span:first-child {
  top: 3px;
}

input label span:last-child {
  top: 16px;
}

label:hover {
  cursor: pointer;
}
input:checked + label span {
  opacity: 0;
  top: 50%;
}
input:checked + label span:first-child {
  opacity: 1;
  transform: rotate(405deg);
}
input:checked + label span:last-child {
  opacity: 1;
  transform: rotate(-405deg);
}

#projekat {
  padding-top: 100px;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 20px;
  color: #636363;
}

#projekat h2 {
  padding-bottom: 30px;
}

/********************** A G E N D A *************************/
#agenda {
  background-color: #e8eff5;
  padding-bottom: 45px;
}
.cd-timeline {
}
.cd-timeline h2 {
  padding-top: 15px;
  font-size: 20px;
}
.cd-timeline__content {
  padding: 0;
}
.text-component {
  padding: 0;
  padding-left: 20px;
  color: white;
}
.cd-timeline__img--picture {
  color: white;
}
.orange {
  background-color: #faa830;
}
.blue {
  background-color: #005d89;
}
.agenda-btn-container div {
  margin-top: 40px;
  padding: 10px 20px 10px 20px;
  display: inline-block;
  cursor: pointer;
}
.subota,
.nedelja {
  background-color: white;
}
.display-none {
  display: none;
}
.subota.active-agenda-btn,
.nedelja.active-agenda-btn,
.subota:hover,
.nedelja:hover {
  background-color: #faa830;
  color: white;
  transition: 0.3s;
}
#raspored {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 40%;
  position: relative;
  margin-left: 50%;
  transform: translateX(-50%);
}

#raspored td,
#raspored th {
  border: 1px solid #ddd;
  padding: 8px;
}

#raspored tr:nth-child(even) {
  background-color: #f2f2f2;
}

#raspored tr:hover {
  background-color: #ddd;
}

#raspored th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #005d89;
  color: white;
}
.margin-top-agenda {
  margin-top: 100px;
  padding-top: 80px;
}

/*footer*/

footer {
  background-color: #005d89;
  height: 450px;
  padding-bottom: 30px;
  color: rgb(230, 230, 230);
  font-size: 18px;
}

#kontakt h3 {
  padding-bottom: 10px;
  padding-top: 30px;
  color: white;
}

#kontakt a {
  color: rgb(230, 230, 230);
  text-decoration: none;
}

#kontakt a:hover {
  color: #f99c1c;
}

#kontakt i {
  margin-right: 8px;
}

#kontakt .kontakt-tekst {
  padding-top: 20px;
  padding-left: 180px;
}

.map iframe {
  margin-top: 5px;
  margin-right: 5px;
  margin-left: 5px;
  border: 0;
  height: 440px;
  width: 50vw;
}

/*************************************************************/
@media only screen and (max-width: 768px) {
.kartica:hover .sestougao {
    top: 55px;
    left: 15%;
    height: 20px;
    width: 200px;	    
    /* border-radius: 50%; */
  }

  /* #radionice {
    height: 1890px;
  } */

 .kartica {
    height: 100%;
  } 

  .kartica .tekst{
    text-align: center;
  }

  footer {
    height: 862px;
  }

  #kontakt .kontakt-tekst {
    padding-left: 30px;
    padding-bottom: 30px;
  }

  .map iframe {
    margin-right: 0;
    width: 100vw;
  }
}

#particles-js {
  height: 100%;
}

.popupphoto {
  width: 100%;
}